{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="/home">
      {{ form.hidden_tag() }}
      <fieldset class="form-group predict">
        <legend class="border-bottom mb-4"> Predict </legend>
        <div class="form-group predict">
          {{ form.model.label(class="form-control-label") }}
          {{ form.model(class="form-control form-control-lg") }}
          <p class ="text-muted"> You can find more information about this model in the about section </p>
        <div class="form-group predict">
          {{ form.age.label(class="form-control-label") }}
          {{ form.age(class="form-control form-control-lg") }}
        </div>
        <div class="form-group predict">
          {{ form.sex.label(class="form-control-label") }}
          {{ form.sex(class="form-control form-control-lg") }}
        </div>
        <div class="form-group predict">
          {{ form.resting_bp.label(class="form-control-label") }}
          {{ form.resting_bp(class="form-control form-control-lg") }}
          <p class ="text-muted">Systolic </p>
        </div>
        
        <div class="form-group predict">
          {{ form.cholesterol.label(class="form-control-label") }}
          {{ form.cholesterol(class="form-control form-control-lg") }}
        </div>
        
        <div class="form-group predict">
          {{ form.fasting_bs.label(class="form-control-label") }}
          {{ form.fasting_bs(class="form-control form-control-lg") }}
        </div>
        
        <div class="form-group predict">
          {{ form.max_hr.label(class="form-control-label") }}
          {{ form.max_hr(class="form-control form-control-lg") }}
        </div>
        
        <div class="form-group predict">
          {{ form.exercise_angina.label(class="form-control-label") }}
          {{ form.exercise_angina(class="form-control form-control-lg") }}
        </div>
        
        <div class="form-group predict">
          {{ form.oldpeak.label(class="form-control-label") }}
          {{ form.oldpeak(class="form-control form-control-lg") }}
        </div>
        
        <div class="form-group predict">
          {{ form.chest_pain_type.label(class="form-control-label") }}
          {{ form.chest_pain_type(class="form-control form-control-lg") }}
        </div>
        
        <div class="form-group predict">
          {{ form.resting_ecg.label(class="form-control-label") }}
          {{ form.resting_ecg(class="form-control form-control-lg") }}
        </div>
        
        <div class="form-group predict">
          {{ form.st_slope.label(class="form-control-label") }}
          {{ form.st_slope(class="form-control form-control-lg") }}
          <p class ="text-muted"> Slope of the peak exercise ST segment </p>
        </div>
      </fieldset>
      <div class="form-group predict">
        {{ form.submit(class="btn btn-outline-info") }}
      </div> 
  </form>



{% endblock %}

